body{font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif ;
     margin: 0;
     padding: 0;
     background-color: #f0f2f5;
     color: #333;}

/*ヘッダー*/
#pageHead{background-color: #e60012;
          color: white;
          text-align: center;
          padding: 20px 0;}

          

